@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Satisfy);


body {
  background: #EFEFEF;
}
h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}
.container {
  width: 1020px;
  margin: 30px auto;
  border-radius: 20px;
  background: #f9fbfd;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
}
header {
  padding: 0px 20px;
}
header h1 {
  display: block;
  width: 943px;
  height: 98px;
  margin: 0;
  background: url("../img/logo.jpg") no-repeat;
  text-indent: -9999px;
}
.page {
  padding: 0 20px;
}

p span.signature {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
}

th.checkbox-column,td.checkbox-column {
  width: 30px;
  text-align: center;
}