<IfModule mod_rewrite.c>
  DirectoryIndex index.php
  RewriteEngine on
  Options +FollowSymLinks

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond $1 !^(index\.php|img|fonts|css|js\.txt|favicon\.ico)
  RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
</IfModule>